.container {
  width: 70%;
  margin: auto;
}
.container > input {
  width: 100%;
  height: 40px;
  font-size: 30px;
}
.result {
  margin-top: 30px;
}
.result > input {
  width: 100%;
  height: 40px;
  font-size: 30px;
  background-color: rgba(237, 237, 150, 0.578);
}

